/*  ================================================================================
	Global Styles
	A good place to specify top level styles and defaults for common elements
================================================================================  */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
}

html {
	position: relative;
	min-height: 100%;
	overflow-y: scroll;
}

body {
}

img {
	max-width: 100%;
	height: auto;
}

[class*='icon-']{
	height: $defaultIconHeight;
	width: $defaultIconWidth;
	background-size: 100%;
}





/*  ================================================================================
	Helpful classes
================================================================================  */
.widthLimit {
	margin: 0 auto;
	@include max-width($siteMaxWidth + $sitePadding*2);
	padding: 0 $sitePadding;
	position: relative;
}


.fadeIn {
	@include transition-property(opacity);
	@extend .transitionDefaults;
	@include opacity(0);
	.fadeInReady & {
		@include opacity(1);
	}
}


.visuallyHidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}



/*  ================================================================================
	TABLES
================================================================================  */
table {
	width: 100%;
}

table, th, td {
	border-collapse: collapse;
}

th, td {
}

thead {
	tr {
	}
}

tbody {
	td {
	}
	tr {
	}
}

.visibleMobile {
	display: none;
}

/*  ================================================================================
	SMALL SCREENS
================================================================================  */
@include device-size(small) {
	.widthLimit {
		padding: 0 0 0 0;
	}

}