/*  ================================================================================
	Screen
	There should be no styles in here, just imports.
================================================================================  */
/* COMPASS FUNCTIONALITY IMPORTS */
/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ========================================================================
#ANIMATION: Animation mixins
This is a custom built set of mixins for generating the css for animations
It has been made to be used the same way as compass's transition mixins
are used.
========================================================================= */
/* ========================================================================
#KEYFRAMES: Keyframes mixin
This is a custom built keyframe mixin that will wrap your keyframe content
in each vendor prefix.
========================================================================= */
/* line 5, ../extensions/_ceaser.scss */
#transition {
  -webkit-transition-property: all;
  -webkit-transition-duration: 1.2s;
  -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000);
}

/* line 11, ../extensions/_ceaser.scss */
#animation {
  -webkit-animation-name: animateMe;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715);
  -webkit-animation-duration: 10s;
}

/* line 24, ../extensions/_ceaser.scss */
#ceaser-transition {
  -webkit-transition: "1.000, 0.000, 0.000, 1.000" width cubic-bezier(500ms);
  -webkit-transition-delay: 1s;
  -moz-transition: "1.000, 0.000, 0.000, 1.000" width cubic-bezier(500ms) 1s;
  -o-transition: "1.000, 0.000, 0.000, 1.000" width cubic-bezier(500ms) 1s;
  transition: "1.000, 0.000, 0.000, 1.000" width cubic-bezier(500ms) 1s;
}

/* ==========================
 *
 * List of all timing function
 *
 * $linear
 * $ease (default)
 * $ease-in
 * $ease-out
 * $ease-in-out
 *
 * $easeInQuad
 * $easeInCubic
 * $easeInQuart
 * $easeInQuint
 * $easeInSine
 * $easeInExpo
 * $easeInCirc
 * $easeInBack
 *
 * $easeOutQuad
 * $easeOutCubic
 * $easeOutQuart
 * $easeOutQuint
 * $easeOutSine
 * $easeOutExpo
 * $easeOutCirc
 * $easeOutBack
 *
 * $easeInOutQuad
 * $easeInOutCubic
 * $easeInOutQuart
 * $easeInOutQuint
 * $easeInOutSine
 * $easeInOutExpo
 * $easeInOutCirc
 * $easeInOutBack
 * ======================== */
/*  ================================================================================
	Helpers
	Helpful classes and extentions  - more helpful global classes in .global.scss
================================================================================  */
/* ========================================================================
#MEDIA QUERIES
========================================================================= */
/*  ================================================================================
	HOVER
	Adds a hover rule to the current rule wrapped in the prefix html.notouch
	(or any class supplied using @include hover([class]) so touch devices
	(ahem iDevices) don't show the hover state on touch requiring
	two touches to activate the event
================================================================================  */
/*
Usage example:
@include hover(){
	background: red;
}
*/
/*  ================================================================================
	BROWSER SUPPORT

	Wraps current rule with a modernizr html prefix of supported properties or
	unsupported properties. To specify an array of properties provide a comma
	separated list wrapped in parentheses e.g. (property1, property2, property3)

	js					flexbox				canvas			canvastext
	webgl				touch				geolocation		postmessage
	websqldatabase		indexeddb			hashchange		history
	draganddrop			websockets			rgba			hsla
	multiplebgs			backgroundsize		borderimage		borderradius
	boxshadow			textshadow			opacity			cssanimations
	csscolumns			cssgradients		cssreflections
	csstransforms		csstransforms3d		csstransitions
	fontface			generatedcontent	video
	audio				localstorage		sessionstorage
	webworkers			applicationcache	svg
	inlinesvg			smil				svgclippaths

	Examples:

	Browsers with support for webgl:
		.rule {
			@include support(webgl){
				background: blue;
			}
		}

	Browsers with support for webgl svg and canvas:
		.rule {
			@include support((webgl, svg, canvas)){
				background: blue;
			}
		}

	Browsers without support for csstransitions cssreflections and cssanimations:
		.rule {
			@include support((csstransitions, cssreflections, cssanimations)){
				background: blue;
			}
		}

================================================================================  */
/*  ================================================================================
	STYLE PLACEHOLDER TEXT IN INPUT FIELDS
================================================================================  */
/* line 153, ../extensions/_helpers.scss */
.clearfix, [data-block-height], [data-horizontal-boxes] {
  *zoom: 1;
}
/* line 156, ../extensions/_helpers.scss */
.clearfix:before, [data-block-height]:before, [data-horizontal-boxes]:before, .clearfix:after, [data-block-height]:after, [data-horizontal-boxes]:after {
  content: " ";
  display: table;
}
/* line 159, ../extensions/_helpers.scss */
.clearfix:after, [data-block-height]:after, [data-horizontal-boxes]:after {
  clear: both;
}

/* Triangles ==================================================  */
/* Requires parent container to be relative positioned
* Usage example:
	.yourDiv::after{
 	@include triangleDown($triangleWidth,$triangleHeight,$fff);
}
*/
/*  ================================================================================
	BLOCK ELEMENT
================================================================================  */
/* Usage example: <div data-block-height="4" data-small-block-height="2"></div> */
/* line 267, ../extensions/_helpers.scss */
[data-block-height="15"],
.small [data-small-block-height="15"] {
  height: 150px;
}

/* line 267, ../extensions/_helpers.scss */
[data-block-height="14"],
.small [data-small-block-height="14"] {
  height: 140px;
}

/* line 267, ../extensions/_helpers.scss */
[data-block-height="13"],
.small [data-small-block-height="13"] {
  height: 130px;
}

/* line 267, ../extensions/_helpers.scss */
[data-block-height="12"],
.small [data-small-block-height="12"] {
  height: 120px;
}

/* line 267, ../extensions/_helpers.scss */
[data-block-height="11"],
.small [data-small-block-height="11"] {
  height: 110px;
}

/* line 267, ../extensions/_helpers.scss */
[data-block-height="10"],
.small [data-small-block-height="10"] {
  height: 100px;
}

/* line 267, ../extensions/_helpers.scss */
[data-block-height="9"],
.small [data-small-block-height="9"] {
  height: 90px;
}

/* line 267, ../extensions/_helpers.scss */
[data-block-height="8"],
.small [data-small-block-height="8"] {
  height: 80px;
}

/* line 267, ../extensions/_helpers.scss */
[data-block-height="7"],
.small [data-small-block-height="7"] {
  height: 70px;
}

/* line 267, ../extensions/_helpers.scss */
[data-block-height="6"],
.small [data-small-block-height="6"] {
  height: 60px;
}

/* line 267, ../extensions/_helpers.scss */
[data-block-height="5"],
.small [data-small-block-height="5"] {
  height: 50px;
}

/* line 267, ../extensions/_helpers.scss */
[data-block-height="4"],
.small [data-small-block-height="4"] {
  height: 40px;
}

/* line 267, ../extensions/_helpers.scss */
[data-block-height="3"],
.small [data-small-block-height="3"] {
  height: 30px;
}

/* line 267, ../extensions/_helpers.scss */
[data-block-height="2"],
.small [data-small-block-height="2"] {
  height: 20px;
}

/* line 267, ../extensions/_helpers.scss */
[data-block-height="1"],
.small [data-small-block-height="1"] {
  height: 10px;
}

/* line 273, ../extensions/_helpers.scss */
[data-block-height] {
  display: block;
  width: 100%;
}

/*  =====================================================================================
	Simple grid system built on data-attributes data-box-amount and data-horizontal-boxes
=========================================================================================  */
/*

Example usage:
<div data-box-amount="3">
	<div class="box">
	<div class="box">
	<div class="box">
</div>

*/
/* line 294, ../extensions/_helpers.scss */
[data-horizontal-boxes] {
  width: 100%;
  display: block;
}

/* line 302, ../extensions/_helpers.scss */
[data-horizontal-boxes="20"] .box {
  width: 5%;
}

/* line 302, ../extensions/_helpers.scss */
[data-horizontal-boxes="19"] .box {
  width: 5.26316%;
}

/* line 302, ../extensions/_helpers.scss */
[data-horizontal-boxes="18"] .box {
  width: 5.55556%;
}

/* line 302, ../extensions/_helpers.scss */
[data-horizontal-boxes="17"] .box {
  width: 5.88235%;
}

/* line 302, ../extensions/_helpers.scss */
[data-horizontal-boxes="16"] .box {
  width: 6.25%;
}

/* line 302, ../extensions/_helpers.scss */
[data-horizontal-boxes="15"] .box {
  width: 6.66667%;
}

/* line 302, ../extensions/_helpers.scss */
[data-horizontal-boxes="14"] .box {
  width: 7.14286%;
}

/* line 302, ../extensions/_helpers.scss */
[data-horizontal-boxes="13"] .box {
  width: 7.69231%;
}

/* line 302, ../extensions/_helpers.scss */
[data-horizontal-boxes="12"] .box {
  width: 8.33333%;
}

/* line 302, ../extensions/_helpers.scss */
[data-horizontal-boxes="11"] .box {
  width: 9.09091%;
}

/* line 302, ../extensions/_helpers.scss */
[data-horizontal-boxes="10"] .box {
  width: 10%;
}

/* line 302, ../extensions/_helpers.scss */
[data-horizontal-boxes="9"] .box {
  width: 11.11111%;
}

/* line 302, ../extensions/_helpers.scss */
[data-horizontal-boxes="8"] .box {
  width: 12.5%;
}

/* line 302, ../extensions/_helpers.scss */
[data-horizontal-boxes="7"] .box {
  width: 14.28571%;
}

/* line 302, ../extensions/_helpers.scss */
[data-horizontal-boxes="6"] .box {
  width: 16.66667%;
}

/* line 302, ../extensions/_helpers.scss */
[data-horizontal-boxes="5"] .box {
  width: 20%;
}

/* line 302, ../extensions/_helpers.scss */
[data-horizontal-boxes="4"] .box {
  width: 25%;
}

/* line 302, ../extensions/_helpers.scss */
[data-horizontal-boxes="3"] .box {
  width: 33.33333%;
}

/* line 302, ../extensions/_helpers.scss */
[data-horizontal-boxes="2"] .box {
  width: 50%;
}

/* line 302, ../extensions/_helpers.scss */
[data-horizontal-boxes="1"] .box {
  width: 100%;
}

/*  ================================================================================
	Parameters: Colors
	Color parameters for use in this project
================================================================================  */
/*  ================================================================================
	Parameters
	Parameters for use in this project
================================================================================  */
/* Icon sizes */
/* ========================================================================
#ANIMATIONS: Default Animation variables
========================================================================= */
/* line 33, ../parameters/_parameters.scss */
.animationDefaults {
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -moz-animation-duration: 0.4s;
  -o-animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-animation-direction: normal;
  -o-animation-direction: normal;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* line 37, ../parameters/_parameters.scss */
.animationLoop {
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

/* ========================================================================
#TRANSITIONS: Default Transition variables
========================================================================= */
/* line 55, ../parameters/_parameters.scss */
.transitionDefaults, .fadeIn {
  -webkit-transition: all 0.3s;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.3s 0s;
  -o-transition: all 0.3s 0s;
  transition: all 0.3s 0s false;
}

/* ========================================================================
#BOXSHADOW: Default Box Shadow variables
========================================================================= */
/* line 69, ../parameters/_parameters.scss */
.defaultBoxShadow {
  -webkit-box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.5);
}

/* ========================================================================
#DEFAULT BORDER RADIUS
========================================================================= */
/* line 78, ../parameters/_parameters.scss */
.defaultBorderRadius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 22, ../parameters/_typography.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  color: #22282e;
}

/* line 28, ../parameters/_typography.scss */
h1 {
  font-size: 20px;
}

/* line 31, ../parameters/_typography.scss */
h2 {
  font-size: 14px;
}

/* line 34, ../parameters/_typography.scss */
h3 {
  font-size: 14px;
}

/* line 38, ../parameters/_typography.scss */
p {
  font-size: 14px;
}

/* line 41, ../parameters/_typography.scss */
strong {
  font-weight: bold;
}

/* line 44, ../parameters/_typography.scss */
input, select, option, button, .button {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 49, ../parameters/_typography.scss */
a {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #22282e;
  text-decoration: underline;
}
/* line 53, ../parameters/_typography.scss */
a:active, a:focus {
  outline: none;
}
/* line 56, ../parameters/_typography.scss */
a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

/*  ================================================================================
	SMALL SCREENS
================================================================================  */
@media (max-width: 650px) {
  /* line 67, ../parameters/_typography.scss */
  body {
    font-size: 14px;
  }
}
@-moz-keyframes animation-name {}
@-webkit-keyframes animation-name {}
@-o-keyframes animation-name {}
@keyframes animation-name {}
/*  ================================================================================
	Global Styles
	A good place to specify top level styles and defaults for common elements
================================================================================  */
/* line 6, ../partials/_global.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../partials/_global.scss */
html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
}

/* line 24, ../partials/_global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 29, ../partials/_global.scss */
[class*='icon-'] {
  height: 16px;
  width: 16px;
  background-size: 100%;
}

/*  ================================================================================
	Helpful classes
================================================================================  */
/* line 42, ../partials/_global.scss */
.widthLimit {
  margin: 0 auto;
  max-width: 590px;
  padding: 0 20px;
  position: relative;
}
/* line 125, ../extensions/_helpers.scss */
.lte-ie9 .widthLimit {
  width: 590px;
}

/* line 50, ../partials/_global.scss */
.fadeIn {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 54, ../partials/_global.scss */
.fadeInReady .fadeIn {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 60, ../partials/_global.scss */
.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*  ================================================================================
	TABLES
================================================================================  */
/* line 76, ../partials/_global.scss */
table {
  width: 100%;
}

/* line 80, ../partials/_global.scss */
table, th, td {
  border-collapse: collapse;
}

/* line 99, ../partials/_global.scss */
.visibleMobile {
  display: none;
}

/*  ================================================================================
	SMALL SCREENS
================================================================================  */
@media (max-width: 650px) {
  /* line 107, ../partials/_global.scss */
  .widthLimit {
    padding: 0 0 0 0;
  }
}
/*  ================================================================================
	Small screens
================================================================================  */
